@model DiaryEntry

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-gradient bg-secondary ml-0 py-3">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="text-white py-2">Villa Edit</h2>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="card-body border p-4">

    <form asp-action="Edit" method="post" class="row">
        <input asp-for="Id" hidden/>
        <div class="p-3">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
            </div>
            <div class="form-floating py-3 col-12">
                <input asp-for="Title" class="form-control shadow border" />
                <label asp-for="Title" class="ms-2"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating py-3 col-12">
                <input asp-for="Content" class="form-control shadow border" />
                <label asp-for="Content" class="ms-2"></label>

                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-floating py-3 col-12">
                <input asp-for="Created" class="form-control shadow border" />
                <label asp-for="Created" class="ms-2"></label>

                <span asp-validation-for="Created" class="text-danger"></span>
            </div>


            <div class="row pt-2">
                <div class=" col-6 col-md-3">

                    <button type="submit" class="btn btn-success w-100">
                        <i class="bi bi-check-square"></i> Edit
                    </button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" asp-controller="DiaryEntry" class="btn btn-secondary w-100">
                        <i class="bi bi-x-circle"></i> Back to List
                    </a>
                </div>
            </div>

        </div>
    </form>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}